<mat-toolbar color="primary">
  <span>Bike Rental</span>

  <span>
    <button mat-button routerLink="/home"><mat-icon>home</mat-icon></button>
  </span>

  <div class="components">
    <span style="margin-right: 15px">Hi User</span>
    <button mat-button routerLink="/bikes">Bikes</button>
    <button mat-button routerLink="/book">Book</button>
    <button mat-button routerLink="/bookings">Bookings</button>
    <button mat-button routerLink="">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
