
<div class="card">
    <div class="textForCard">
        <h3 class="headerForCard">Paracitamol</h3>
        <p>
            Paracetamol is a common painkiller used to treat aches and pain. It can also be used to reduce a high temperature.
It's available combined with other painkillers and anti-sickness medicines. It's also an ingredient in a wide range of cold and flu remedies.
Most people can take paracetamol safely, including pregnant and breastfeeding women.However, some people need to take extra care with paracetamol.
Paracetamol can be taken with or without food.
The usual dose for adults is one or two 500mg tablets up to 4 times in 24 hours.
Always leave at least 4 hours between doses.
Overdosing on paracetamol can cause serious side effects. Do not be tempted to increase the dose or to take a double dose if your pain is very bad.
Paracetamol is widely available as tablets and capsules.
For people who find it difficult to swallow tablets or capsules, paracetamol is also available as a syrup or as soluble tablets that dissolve in water to make a drink.
Taking 1 or 2 extra tablets by accident is unlikely to be harmful, as long as you do not take more than 8 tablets in 24 hours.
Wait at least 24 hours before taking any more paracetamol.
If you take paracetamol regularly and miss a dose, take it as soon as you remember. However, skip the missed dose if it's nearly time for your next dose.

Never take double doses of paracetamol. Do not take an extra dose to make up for a missed one.
        </p>
    </div>
    <div class="imgForCard">
        <div class="cardImg"></div>
    </div>
</div>

<div class="card">
    <div class="textForCard">
        <h3 class="headerForCard">Antibiotics</h3>
        <p>
            Antibiotics, also known as antibacterials, are medications that destroy or slow down the growth of bacteria.

They include a range of powerful drugs and are used to treat diseases caused by bacteria.

Antibiotics cannot treat viral infections, such as cold, flu, and most coughs.

This article will explain what antibiotics are, how they work, any potential side effects, and antibiotic resistance.
Antibiotics are powerful medicines that fight certain infections and can save lives when used properly. They either stop bacteria from reproducing or destroy them.

Before bacteria can multiply and cause symptoms, the immune system can typically kill them. White blood cells (WBCs) attack harmful bacteria and, even if symptoms do occur, the immune system can usually cope and fight off the infection.

Sometimes, however, the number of harmful bacteria is excessive, and the immune system cannot fight them all. Antibiotics are useful in this scenario.

The first antibiotic was penicillin. Penicillin-based antibiotics, such as ampicillin, amoxicillin, and penicillin G, are still available to treat a variety of infections and have been around for a long time.
Some medical professionals have concerns that people are overusing antibiotics. They also believe that this overuse contributes toward the growing number of bacterial infections that are becoming resistant to antibacterial medications.
        </p>
    </div>
    <div class="imgForCard">
        <div class="cardImg2"></div>
    </div>
</div>
