<div class="homePage">
  <div width="100vw" heigh="auto">
    <div width="100vw" class="main">
      <app-navbar></app-navbar>
    </div>
    <app-card></app-card>

    <app-location></app-location>
  </div>
</div>

<!-- {/* 
      <div class="q1">
        We Serve To Save !!!        </div>*/}
  <div className='home' width="100vw" height="auto">
    
      
      
      <div className='container1'>
          <div className='row'>
              <div className='col-md-5'>
                <p>Paracetamol is a common painkiller used to treat aches and pain. It can also be used to reduce a high temperature.
                It's available combined with other painkillers and anti-sickness medicines. It's also an ingredient in a wide range of cold and flu remedies<a href=""> read more..</a></p>
              </div>
              <div className='col-md-5'>
                <img src={paracetamol} alt="Paracetamol" width="500px"></img>
              </div>
          </div>
          </div> -->
<!-- <div className='container2'>
          <div className='row'>
              <div className='col-md-5'>
                  <img src={crocin} alt="Crocin" width="500px"></img>
              </div>
              <div className='col-md-4'>
                  <p>
                  Crocin Pain Relief provides targeted pain relief. It provides symptomatic relief from mild to moderate pain e.g from headache, migraine, toothache and musculoskeletal pain.
                   Its formula contains clinically proven ingredients paracetamol and caffeine. It acts at the center of pain<a href=""> read more..</a>
                  </p>
              </div>
          </div>
      </div>
      <div className='container3'>
          <div className='row'>
              <div className='col-md-5'>
                <p>Panadol drug is used to treat mild to moderate pain from headaches, menstrual periods,
                     toothaches, back pain, osteoarthritis, or cold/flu aches and to reduce fever<a href=""> read more..</a></p>
              </div>
              <div className='col-md-5'>
                <img src={panadol} alt="Paracetamol" width="500px"></img>
              </div>
          </div>
          </div>
          <div className='container4'>
          <div className='row'>
              <div className='col-md-5'>
                  <img src={amoxicilin} alt="Crocin" width="500px"></img>
              </div>
              <div className='col-md-4'>
                  <p>
                  Amoxicillin is a penicillin antibiotic. It is used to treat bacterial infections, such as chest infections including pneumonia and dental abscesses. 
                    It can also be used together with other antibiotics and medicines to treat stomach ulcers<a href=""> read more..</a>
                  </p>
              </div>
          </div>
      </div>
      <div className='container5'>
          <div className='row'>
              <div className='col-md-5'>
                <p>Clopilet A 75 Capsule is a combination of two antiplatelet medicines or blood thinner used to reduce the formation of harmful blood clots in blood vessels.
                     This helps to prevent a heart attack or stroke in people with heart disease<a href=""> read more..</a></p>
              </div>
              <div className='col-md-5'>
                <img src={copilet} alt="Paracetamol" width="500px"></img>
              </div>
          </div>
          </div>
  
          </div>
  
      <div className='container-fluid d-flex justify-content-center'>
          <div className='row'>
              <div className='col-md-4'>
              <div className="card text-center">
        <div className="overflow">
            <img src={chennai} width="200px" height="200px" alt="Img" className="card-img-top"></img>
        </div>
  
        
  
        <div className="card-body text-dark">
            <h4 className="card-title">Chennai</h4>
            <p className="card-text text-secondary">
            Apollo Pharmacy-Koyambedu keeps most of the medicines on hand, and can generally have a special item delivered by the next working day. They offer free delivery.
            </p>
            <a href="#" className="btn btn-outline-success">More about chennai...</a>
        </div>
    </div>
              </div>
              <div className='col-md-4'>
              <div className="card text-center">
        <div className="overflow">
            <img src={bangalore} width="200px" height="200px" alt="Img" className="card-img-top"></img>
        </div>
        <div className="card-body text-dark">
            <h4 className="card-title">Bangalore</h4>
            <p className="card-text text-secondary">
            Aster CMI Pharmacy-Hebbal keeps most of the medicines on hand, and can generally have a special item delivered by the next working day. They offer free delivery.
            </p>
            <a href="#" className="btn btn-outline-success">More about bangalore...</a>
        </div>
    </div>
             </div>
              <div className='col-md-4'>
              <div className="card text-center">
        <div className="overflow">
            <img src={pune} width="200px" height="200px" alt="Img" className="card-img-top"></img>
        </div>
        <div className="card-body text-dark">
            <h4 className="card-title">Pune</h4>
            <p className="card-text text-secondary">
            Aims Pharmacy-Aundh keeps most of the medicines on hand, and can generally have a special item delivered by the next working day. They offer free delivery.
            </p>
            <a href='#' className="btn btn-outline-success">More about pune...</a>
        </div>
    </div>
              </div>
          </div>
          
         
  
      </div>
      <br></br>
      <Footer/> -->
